In [1]:
import pandas as pd
import numpy as np

In [27]:
# initialisation
df_flight = pd.read_csv("/Users/moi/Documents/EPFL/Opti4ML_projet/data/flight_data.csv")
df_flight = df_flight.drop(columns=['Passenger_ID', 'Airline', 'Departure_Airport', 'Flight_Duration_Minutes', 'Flight_Status', 'Distance_Miles', 'Price_USD', 'Age', 'Gender', 'Seat_Class', 'Bags_Checked', 'Frequent_Flyer_Status', 'Check_in_Method', 'Flight_Satisfaction_Score', 'Delay_Minutes', 'Booking_Days_In_Advance', 'No_Show', 'Weather_Impact', 'Seat_Selected', 'Booking_Lead_Time'])

# As we solely focus on Family travels, we can filter out the "Travel_Purpose" column
df_flight = df_flight[df_flight['Travel_Purpose'] == "Family"]
df_flight = df_flight.drop(columns = "Travel_Purpose")

### Handle string values

To handle adequately the dates, we will convert them into categorical values.

In [14]:
# first we get rid of the time (hours and minutes) and convert the string into a timestamp
df_flight['Departure_Time'] = df_flight['Departure_Time'].apply(lambda x : pd.to_datetime(x[:10]))

In [15]:
# then we proceed to apply the get_dummies function
df_flight['Day'] = df_flight['Departure_Time'].dt.day
df_flight['Month'] = df_flight['Departure_Time'].dt.month
df_flight['Year'] = df_flight['Departure_Time'].dt.year

df_flight = pd.get_dummies(df_flight, columns=["Day", "Month", "Year"], prefix=['Day', 'Month', 'Year'], dtype=int)

Then, we can take care of the Arrival Airports and the income levels.

In [18]:
df_flight = pd.get_dummies(df_flight, columns=["Arrival_Airport", "Income_Level"], prefix=['Airport', 'Income'], dtype=int)

In [23]:
df_flight = df_flight.drop(columns=["Departure_Time"])

In [25]:
df_flight.columns

Index(['Flight_ID', 'Day_1', 'Day_2', 'Day_3', 'Day_4', 'Day_5', 'Day_6',
       'Day_7', 'Day_8', 'Day_9', 'Day_10', 'Day_11', 'Day_12', 'Day_13',
       'Day_14', 'Day_15', 'Day_16', 'Day_17', 'Day_18', 'Day_19', 'Day_20',
       'Day_21', 'Day_22', 'Day_23', 'Day_24', 'Day_25', 'Day_26', 'Day_27',
       'Day_28', 'Day_29', 'Day_30', 'Day_31', 'Month_1', 'Month_2', 'Month_3',
       'Month_4', 'Month_5', 'Month_6', 'Month_7', 'Month_8', 'Month_9',
       'Month_10', 'Month_11', 'Month_12', 'Year_2023', 'Year_2024',
       'Year_2025', 'Airport_ATL', 'Airport_DEN', 'Airport_DFW', 'Airport_JFK',
       'Airport_LAX', 'Airport_ORD', 'Airport_SEA', 'Airport_SFO',
       'Income_High', 'Income_Low', 'Income_Medium'],
      dtype='object')

We can see that there are all 31 days, 12 months and 3 years.

### Statistics

In [11]:
df_flight.shape

(2477, 50)

In [26]:
df_flight.head()

,Flight_ID,Day_1,Day_2,Day_3,Day_4,Day_5,Day_6,Day_7,Day_8,Day_9,...,Airport_DEN,Airport_DFW,Airport_JFK,Airport_LAX,Airport_ORD,Airport_SEA,Airport_SFO,Income_High,Income_Low,Income_Medium
1,F1687,0,0,0,0,0,0,0,0,0,...,0,1,0,0,0,0,0,0,1,0
4,F1753,0,0,0,0,0,0,0,0,0,...,0,0,1,0,0,0,0,1,0,0
17,F170,0,0,0,0,0,0,0,0,0,...,1,0,0,0,0,0,0,0,1,0
21,F39,0,0,0,0,0,0,0,0,0,...,1,0,0,0,0,0,0,0,0,1
29,F939,0,0,0,0,0,1,0,0,0,...,0,0,0,1,0,0,0,1,0,0